* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

li {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: white;
  font-weight: bold;
}

nav {
  height: 60px;
  background-color: rgb(19, 25, 33);
}

h1 {
  line-height: 28px;
  font-size: 20px;
  font-weight: 700;
}

h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

h2:hover {
  color: rgb(196, 85, 0);
}

img {
  display: flex;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

main {
  max-width: 75%;
  padding-top: 14px;
  margin: 0 auto 0;
}

button {
  background-color: rgb(255, 206, 18);
  border-radius: 15px;
  border-style: none;
  line-height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 11px;
  padding-right: 11px;
}

/* button:hover {
  background-color: rgb(248, 189, 25);
} */

.nav-link {
  align-items: center;
}

.card {
  height: 100%;
  min-width: 100%;
  border-style: solid;
  border-color: rgb(245, 245, 245);
  border-radius: 4px;
  border-width: 1px;
}

.price {
  font-size: 28px;
  font-weight: 400;
}

.img-container {
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 8px;
}

.infos {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 8px;
}

.products-title {
  margin-bottom: 4px;
}

.sub-title {
  line-height: 20px;
  color: rgb(86, 89, 89);
}

.product-details {
  display: flex;
  flex-direction: row;
}

.image-details {
  width: 50%;
}

.product-infos {
  width: 50%;
}

#home-icon {
  margin-right: 10px;
}

#products-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 8px;
}
